<div class="container pt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="m-0">My Keys</h2>
        <button class="btn btn-outline-primary" (click)="addKey()">
            <i class="bi bi-plus"></i>
        </button>
    </div>
    <hr>
    <ng-container *ngIf="keys$ | async as keys">
        <table class="table table-striped align-middle" *ngIf="keys.length">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Created Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let key of keys; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ key.nickname }}</td>
                    <td>{{ key.createdAt | date }}</td>
                    <td class="text-end">
                        <button class="btn btn-danger" (click)="onDelete(key)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!keys.length">No keys yet</p>
    </ng-container>
</div>