<div class="container">
    <div class="row text-center py-5">
        <h2 class="m-0">Register</h2>
    </div>
    <form [formGroup]="form">
        <div class="row gy-3">
            <div class="col-6 offset-3">
                <div class="form-floating">
                    <input type="email" class="form-control" name="email" id="email" placeholder="email@domain.com"
                        autocomplete="email" [formControlName]="formKeys.EMAIL">
                    <label for="email">Email</label>
                </div>
                <ng-container *ngIf="form.get('email')?.hasError && form.get('email')?.touched">
                    <ng-container *ngIf="form.get('email')?.getError('required')">
                        <p class="m-1 text-danger">Please enter your email</p>
                    </ng-container>
                    <ng-container *ngIf="form.get('email')?.getError('email')">
                        <p class="m-1 text-danger">Must be a valid email</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="col-6 offset-3">
                <div class="form-floating">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                        autocomplete="new-password" [formControlName]="formKeys.PASSWORD">
                    <label for="password">Password</label>
                </div>
                <ng-container *ngIf="form.get('password')?.hasError && form.get('password')?.touched">
                    <ng-container *ngIf="form.get('password')?.getError('required')">
                        <p class="m-1 text-danger">Please enter a password</p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="col-6 offset-3">
                <div class="form-floating">
                    <input type="password" name="confirm-password" id="confirm-password" class="form-control"
                        placeholder="Password" autocomplete="new-password"
                        [formControlName]="formKeys.CONFIRM_PASSWORD">
                    <label for="confirm-password">Confirm password</label>
                </div>
                <ng-container *ngIf="form.get('confirmPassword')?.hasError && form.get('confirmPassword')?.touched">
                    <ng-container *ngIf="form.get('confirmPassword')?.getError('required')">
                        <p class="m-1 text-danger">Please confirm your password</p>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!!form.getError('must-match') && form.touched">
                    <p class="m-1 text-danger">Passwords must match</p>
                </ng-container>
            </div>
            <div class="col-6 offset-3 d-flex justify-content-between">
                <button class="btn btn-primary" (click)="submit()">
                    <app-busy-indicator [visible]="busy"></app-busy-indicator>
                    <ng-container *ngIf="!busy">Submit</ng-container>
                </button>
                <a class="btn btn-link" routerLink="/login">Already registered?</a>
            </div>
        </div>
    </form>
</div>