<div class="container">
    <div class="row py-5 text-center">
        <h2>Verify your email</h2>
    </div>
    <form [formGroup]="form">
        <div class="row gy-3">
            <div class="col-6 offset-3">
                <p class="text-center">Please enter the PIN that was sent to your email.</p>
                <div class="d-flex justify-content-evenly align-items-center">
                    <ng-container [formArrayName]="formKeys.PIN">
                        <ng-container *ngFor="let control of digits.controls; let i = index;">
                            <input #digit type="text" class="form-control mx-1" maxlength="1" minlength="1"
                                [formControl]="control" [value]="control.value" (input)="onChanged(control, i)"
                                (paste)="onPaste($event, i)" (keyup.enter)="submit()">
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="col-6 offset-3 d-flex justify-content-between align-items-center">
                <button [disabled]="busy" class="btn btn-primary" (click)="submit()">
                    <app-busy-indicator [visible]="busy"></app-busy-indicator>
                    <ng-container *ngIf="!busy">
                        Submit
                    </ng-container>
                </button>
                <div class="d-flex align-items-center">
                    <p class="m-0">Didn't get a code?</p>
                    <button class="btn btn-link" (click)="resend()">Resend</button>
                </div>
            </div>
        </div>
    </form>
</div>